* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Trebuchet MS', sans-serif;
}

header {
    background-color: rgba(238, 238, 238, 0.722);
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    margin-left: 20px;
}

nav ul li {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}

.nav-link:hover {
    background-color: #e4e4e4c4;
    border: 1px;
    border-radius: 5px;
}

.profile-login {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.post {
    width: 60%;
    margin: 0 auto;
    border: 1px;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(238, 238, 238, 0.722);
}

.post-content {
    width: 98%;
    margin: 0 auto;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.date {
    
    color: #555;
    margin-right: 5px;
}

.post-image img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.post-text {
    margin-top: 10px;
}

.like-button {
    margin-top: 10px;
    font-size: 24px;
    cursor: pointer;
}

footer {
    background-color: rgba(238, 238, 238, 0.722);
    padding: 20px;
}


@media (max-width: 768px) {
    main {
        padding: 10px;
    }
}

@media (max-width: 450px) {
    ul li {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }
    nav ul {
        margin-left: 0;
    }
    .post {
        width: 80%;
    }
}

@media (min-width: 1150px) {
    .post {
        width: 40%;
    }
}

form {
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    padding: 3%;
    width: 60%;
    background-color: rgba(231, 230, 230, 0.722);
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

#PBLabel {
    height: 100px;
    display: flex;
    align-items: flex-start;
}

label + textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.newPost {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
}

#newPostF{
    justify-content: flex-start;
    align-items: center;
}

#fileB {
    color: rgb(232, 232, 232);
    background-color: rgb(155, 155, 155);
    padding: 5px;
    margin-left: 3%;
    margin-bottom: 10px;
    border: 1px solid #878787;
    border-radius: 4px;
    letter-spacing: 2px;
}

.newPost .button {
    display: flex;
    color: rgb(215, 228, 233);
    background-color: rgb(15, 49, 141);
    border-radius: 4px;
    height: 30px;
    letter-spacing: 2px;
    border: none;
}

@media (max-width: 650px){
    .newPost {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #fileB {
        margin-left: 0px;
    }

    #PBLabel{
        height: fit-content;
        margin-bottom: 5%;
    }

    #FLabel{
        margin-bottom: 5%;
    }
}

/* 
----------------------------------------

LOGIN PAGE STYLING

----------------------------------------
*/

/* Styling for the rectangle in which the login form will be present */
.login-section {
    text-align: center;
    background-color: rgb(216, 216, 216);
    padding: 10px;
    margin: 10px;
    width: 400px;
    border-radius: 20px;
}

/* Styling for centering the login-section */
#login-div {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

/* Spacing out form fields */
.login-section > form {
    line-height: 1.5;
    border-style: solid;
    border-width: 2px;
    border-color:  rgb(204, 204, 204);;
}

/* Spacing so that the forgotten password button is a bit farther away from other elements */
#forgot-password {
    line-height: 2.5;
}

/* Making the login button more prominent on the page */
#login-button {
    padding: 10px 20px;
    background-color: rgb(15, 49, 141);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
}

/* Makes the login button larger when hovering over it */
#login-button:hover {
    transform: scale(1.1);
}

/* Spaces form input elements out in the login section */
.login-section input ~ input {
    margin: 5px;
}

/* Login section compatibility with cellphones/small screens */
@media (max-width: 450px) {
    .login-section input {
        width: 125px;
    }
    #login-button {
        width: 75px;
    }
}